.login__container {
  position: relative;
  overflow: hidden;
  min-height: 95vh;
  h2 {
    background: $landingTitle;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 150% 200%;
    background-clip: text;
  }
}
.login__container__col-images,
.login__container__col-form {
  z-index: 2;
}

.login__bg {
  position: absolute;
  top: 20vh;
  right: 0;
  height: 60vh;
  width: 100vh;
  overflow: hidden;
  background-image: radial-gradient(#ff8c3f, #ff9c3f42, #9198e500, #9198e500);
  background-position-x: 50%;
  filter: blur(110px);
  -webkit-filter: blur(110px);
  background-size: 180%;
  z-index: 1;
  animation: gradient-animation 4.5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-image: radial-gradient(#ff8c3f, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 50%;
    background-size: 180%;
  }
  
  25%{
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 52%;
    background-size: 200%; 
  }

  50% {
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 53%;
    background-size: 250%;
  }

  75%{
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 52%;
    background-size: 200%;
  }

  100% {
    background-image: radial-gradient(#ff8c3f, #ff9c3f42, #9198e500, #9198e500);
    background-position: 50%;
    background-size: 180%;
  }
}

