.bannerAndAvatar__wrapper {
  position: relative;
  .banner {
    aspect-ratio: 12/5;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px 20px 20px 55px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }
  #edit-avatar{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

}
