//Light

$primary-light: #9c4500;
$on-primary-light: #ffffff;
$primary-container-light: #ffdbc7;
$on-primary-container-light: #331100;
$secondary-light: #765848;
$on-secondary-light: #ffffff;
$secondary-container-light: #ffdbc7;
$on-secondary-container-light: #2b160a;
$tertiary-light: #636032;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #eae5ab;
$on-tertiary-container-light: #1e1c00;
$error-light: #ba1b1b;
$on-error-light: #ffffff;
$error-container-light: #ffdad4;
$on-error-container-light: #410001;
$outline-light: #85746c;
$background-light: #fcfcfc;
$on-background-light: #201a17;
$surface-light: #fcfcfc;
$on-surface-light: #201a17;
$surface-variant-light: #F4DED4;
$on-surface-variant-light: #52443d;
$inverse-surface-light: #362f2c;
$inverse-on-surface-light: #FBEEEA;
$landingTitle: linear-gradient(92.12deg, #e66d0a 1.18%, #e7e169 91.57%);
//Dark
$primary-dark: #ffb68c;
$on-primary-dark: #542100;
$primary-container-dark: #783200;
$on-primary-container-dark: #ffdbc7;
$secondary-dark: #e5beaa;
$on-secondary-dark: #432b1d;
$secondary-container-dark: #5c4132;
$on-secondary-container-dark: #ffdbc7;
$tertiary-dark: #cec991;
$on-tertiary-dark: #343208;
$tertiary-container-dark: #4b481d;
$on-tertiary-container-dark: #eae5ab;
$error-dark: #ffb4a9;
$on-error-dark: #680003;
$error-container-dark: #930006;
$on-error-container-dark: #ffdad4;
$outline-dark: #a08d84;
$background-dark: #201a17;
$on-background-dark: #ece0db;
$surface-dark: #201a17;
$on-surface-dark: #ece0db;
$surface-variant-dark: #52443d;
$on-surface-variant-dark: #d7c2b8;
$inverse-surface-dark: #ece0db;
$inverse-on-surface-dark: #201a17;

//Font variables
  $display1-font: Roboto;
  $display1-weight: Regular;
  $display1-size: 64px;
  $display1-line-height: 76px;
  $display1-tracking: -0.5px;
  $display2-font: Roboto;
  $display2-weight: Regular;
  $display2-size: 57px;
  $display2-line-height: 64px;
  $display2-tracking: -0.25px;
  $display3-font: Roboto;
  $display3-weight: Regular;
  $display3-size: 45px;
  $display3-line-height: 52px;
  $display3-tracking: 0px;
  $headline1-font: Roboto;
  $headline1-weight: Regular;
  $headline1-size: 36px;
  $headline1-line-height: 44px;
  $headline1-tracking: 0px;
  $headline2-font: Roboto;
  $headline2-weight: Regular;
  $headline2-size: 32px;
  $headline2-line-height: 40px;
  $headline2-tracking: 0px;
  $headline3-font: Roboto;
  $headline3-weight: Regular;
  $headline3-size: 28px;
  $headline3-line-height: 36px;
  $headline3-tracking: 0px;
  $headline4-font: Roboto;
  $headline4-weight: Regular;
  $headline4-size: 24px;
  $headline4-line-height: 32px;
  $headline4-tracking: 0px;
  $headline5-font: Roboto;
  $headline5-weight: Regular;
  $headline5-size: 22px;
  $headline5-line-height: 28px;
  $headline5-tracking: 0px;
  $headline6-font: Roboto;
  $headline6-weight: Regular;
  $headline6-size: 18px;
  $headline6-line-height: 24px;
  $headline6-tracking: 0px;
  $subhead1-font: Roboto;
  $subhead1-weight: Medium;
  $subhead1-size: 16px;
  $subhead1-line-height: 24px;
  $subhead1-tracking: 0.1px;
  $subhead2-font: Roboto;
  $subhead2-weight: Medium;
  $subhead2-size: 14px;
  $subhead2-line-height: 20px;
  $subhead2-tracking: 0.1px;
  $body1-font: Roboto;
  $body1-weight: Regular;
  $body1-size: 16px;
  $body1-line-height: 24px;
  $body1-tracking: 0.5px;
  $body2-font: Roboto;
  $body2-weight: Regular;
  $body2-size: 14px;
  $body2-line-height: 20px;
  $body2-tracking: 0.25px;
  $caption-font: Roboto;
  $caption-weight: Regular;
  $caption-size: 12px;
  $caption-line-height: 16px;
  $caption-tracking: 0.4px;
  $button-font: Roboto;
  $button-weight: Medium;
  $button-size: 14px;
  $button-line-height: 20px;
  $button-tracking: 0.1px;
  $overline-font: Roboto;
  $overline-weight: Medium;
  $overline-size: 12px;
  $overline-line-height: 16px;
  $overline-tracking: 0.5px;

