@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    font-family: "Roboto", sans-serif;
  }
  
  .big-web-titles, .headline-5{
    font-family: "Poppins", sans-serif ;
  }
 
  .title-large, .aside__title, .top-card__title{
    font-family: "Raleway", sans-serif ;
  }