@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0px;
  padding: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.big-web-titles, .headline-5 {
  font-family: "Poppins", sans-serif;
}

.title-large {
  font-family: "Raleway", sans-serif;
}

.landing__container-top {
  min-height: 91vh;
}

.landing__container-top h2 {
  background: linear-gradient(92.12deg, #e66d0a 1.18%, #e7e169 91.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 150% 200%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  background-clip: text;
}

.landing__container-top .landing__container__col {
  width: 40vw;
}

.landing__container-top img {
  width: 24vw;
  -webkit-transform: translateX(0.5px);
          transform: translateX(0.5px);
}

.landing__container-bot {
  min-height: 93vh;
  background-color: #F4DED4;
  color: #331200;
}

.landing__container-bot .content {
  width: 40vw;
}

.landing__container-bot .landing__container-bot__col-darkbrown {
  background-color: #331200;
  height: 93vh;
}

.login__container {
  position: relative;
  overflow: hidden;
  min-height: 95vh;
}

.login__container h2 {
  background: linear-gradient(92.12deg, #e66d0a 1.18%, #e7e169 91.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 150% 200%;
  background-clip: text;
}

.login__container__col-images,
.login__container__col-form {
  z-index: 2;
}

.login__bg {
  position: absolute;
  top: 20vh;
  right: 0;
  height: 60vh;
  width: 100vh;
  overflow: hidden;
  background-image: radial-gradient(#ff8c3f, #ff9c3f42, #9198e500, #9198e500);
  background-position-x: 50%;
  filter: blur(110px);
  -webkit-filter: blur(110px);
  background-size: 180%;
  z-index: 1;
  -webkit-animation: gradient-animation 4.5s ease infinite;
          animation: gradient-animation 4.5s ease infinite;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-image: radial-gradient(#ff8c3f, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 50%;
    background-size: 180%;
  }
  25% {
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 52%;
    background-size: 200%;
  }
  50% {
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 53%;
    background-size: 250%;
  }
  75% {
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 52%;
    background-size: 200%;
  }
  100% {
    background-image: radial-gradient(#ff8c3f, #ff9c3f42, #9198e500, #9198e500);
    background-position: 50%;
    background-size: 180%;
  }
}

@keyframes gradient-animation {
  0% {
    background-image: radial-gradient(#ff8c3f, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 50%;
    background-size: 180%;
  }
  25% {
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 52%;
    background-size: 200%;
  }
  50% {
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 53%;
    background-size: 250%;
  }
  75% {
    background-image: radial-gradient(#ff934b, #ff9c3f42, #9198e500, #9198e500);
    background-position-x: 52%;
    background-size: 200%;
  }
  100% {
    background-image: radial-gradient(#ff8c3f, #ff9c3f42, #9198e500, #9198e500);
    background-position: 50%;
    background-size: 180%;
  }
}

.unlogged_body {
  background-color: #331200;
  color: #ffff;
}
/*# sourceMappingURL=App.css.map */